**AI&DA18 Batch 1 Lab Exam Name: Atharva M. Kulkarni GR No: 11810384**

Q5: Write a Python Program to Implement Following
Operations on File1.csv:
1. Standardization
2. Data Splitting (Training Data = 85%, Testing Data =15%, No Randomness
3. Use Support Vector Machine (SVM) Classifier to Classify the Data.
Compute the Accuracy by Using Confusion Matrix
4. Use K-Nearest Neighbour (KNN) Classifier to Classify the Data. Compute
the Accuracy by Using Confusion Matrix
5. Comment on Suitability of Supervised and Unsupervised Machine
Learning Classifiers

In [41]:
import pandas as pd
import numpy as np
import re
import os
from google.colab import drive
from sklearn import preprocessing, model_selection, svm, neighbors
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [143]:
df = pd.read_csv('/content/drive/My Drive/File1.csv')

In [144]:
print(df.head(10))
df.describe()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  11021175    Male   42           121315          0
1  17782313    Male   53            67214          0
2  14603818  Female   59           111005          0
3  18188198  Female   39            53414          0
4  19357305    Male   39           114285          0
5  19524602    Male   39           107458          0
6  19455396  Female   20            85582          0
7  16879913  Female   59           148335          1
8  11838352    Male   48            80579          0
9  13118940  Female   42           114204          0

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.510090e+07   39.885000     99748.227500    0.357500
std    2.862593e+06   11.796596     28374.358336    0.479864
min    1.001684e+07   20.000000     50075.000000    0.000000
25%    1.260593e+07   30.000000     76060.250000    0.000000
50%    1.509874e+07   40.000000     99205.000000    0.000000
75%    1.741296e+07   51.000000    122748.000000    1.000000
max    1.999616e+07   60.000000    149553.000000    1.000000

In [145]:
gender_numerical = {"Male": 0, "Female": 1}
df['Gender'] = df['Gender'].map(gender_numerical)
display(df)

      User ID  Gender  Age  EstimatedSalary  Purchased
0    11021175       0   42           121315          0
1    17782313       0   53            67214          0
2    14603818       1   59           111005          0
3    18188198       1   39            53414          0
4    19357305       0   39           114285          0
..        ...     ...  ...              ...        ...
395  10220446       1   20           141231          1
396  12387292       0   50            75848          1
397  10715173       1   25            82560          1
398  10016842       0   55           147667          0
399  11699655       1   54           134972          1

[400 rows x 5 columns]

**Standardization**

MinMaxScaler() and StandardScaler() are the most commonly used scaling transforms for standardization.
*Scaling / Standardization of data is preferably done after train_test_split as the scaling rules apply only for train data

In [146]:
scaler = MinMaxScaler()
df[["Age", "EstimatedSalary", "Gender", "Purchased"]] = scaler.fit_transform(df[["Age", "EstimatedSalary", "Gender", "Purchased"]])
print(df.head(10))
df.describe()

    User ID  Gender    Age  EstimatedSalary  Purchased
0  11021175     0.0  0.550         0.716138        0.0
1  17782313     0.0  0.825         0.172289        0.0
2  14603818     1.0  0.975         0.612497        0.0
3  18188198     1.0  0.475         0.033565        0.0
4  19357305     0.0  0.475         0.645469        0.0
5  19524602     0.0  0.475         0.576841        0.0
6  19455396     1.0  0.000         0.356933        0.0
7  16879913     1.0  0.975         0.987756        1.0
8  11838352     0.0  0.700         0.306641        0.0
9  13118940     1.0  0.550         0.644655        0.0

            User ID      Gender         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000  400.000000       400.000000  400.000000
mean   1.510090e+07    0.510000    0.497125         0.499339    0.357500
std    2.862593e+06    0.500526    0.294915         0.285232    0.479864
min    1.001684e+07    0.000000    0.000000         0.000000    0.000000
25%    1.260593e+07    0.000000    0.250000         0.261216    0.000000
50%    1.509874e+07    1.000000    0.500000         0.493878    0.000000
75%    1.741296e+07    1.000000    0.775000         0.730543    1.000000
max    1.999616e+07    1.000000    1.000000         1.000000    1.000000

In [147]:
df = df.drop(['User ID'], 1)
display(df)

     Gender    Age  EstimatedSalary  Purchased
0       0.0  0.550         0.716138        0.0
1       0.0  0.825         0.172289        0.0
2       1.0  0.975         0.612497        0.0
3       1.0  0.475         0.033565        0.0
4       0.0  0.475         0.645469        0.0
..      ...    ...              ...        ...
395     1.0  0.000         0.916343        1.0
396     0.0  0.750         0.259082        1.0
397     1.0  0.125         0.326555        1.0
398     0.0  0.875         0.981041        0.0
399     1.0  0.850         0.853425        1.0

[400 rows x 4 columns]

**Data Splitting**

In [148]:
X = df.drop(['Purchased'], 1)
y = df['Purchased']
X = np.array(X)
y = np.array(y)

X_train, X_test, y_train, y_test =  model_selection.train_test_split(X, y, test_size = 0.15)

**SVM** **Classiifer**

In [149]:
clf = svm.SVC(kernel='rbf', gamma='auto')
clf.fit(X_train, y_train)
pred = clf.predict(X_test)
print(confusion_matrix(y_test, pred))
accuracy = accuracy_score(y_test, pred)
print(accuracy)

[[46  0]
 [14  0]]
0.7666666666666667

KNN Classifier

In [150]:
clf = neighbors.KNeighborsClassifier(n_neighbors=3)
clf.fit(X_train, y_train)
pred = clf.predict(X_test)
print(confusion_matrix(y_test, pred))
accuracy = accuracy_score(y_test, pred)
print(accuracy)

[[37  9]
 [10  4]]
0.6833333333333333

**Suitability of Supervised and Unsupervised Machine
Learning Classifiers**

In the given problem statement, use of SVM and KNN Classifier is advised. Both of the said Classifiers are predominantly associated with Supervised Machine Learning as they deal with labelled data.

As a rule of thumb, if the given data is labelled, we tend to gravitate towards using Supervised models. However in some cases, it can be considered wise to apply unsupervised clustering models such as the K-means algorithm. This approach is especially crucial in problems statement where the given 'k' classes are unable to justify the expected accuracy hinting that the actual number of classes could be more/less. In such cases, unsupervised algorithms can be used to define the number of classes followed by supervised algorithms for prediction.